#point-list{
	width:100%;
}
#point-list .point-item-wrap{
	margin-top: 1rem;
	width:33%;
	float:left;
	position:relative
}
#point-list .point-item-wrap .point-item {
	border-radius:2px;
	-webkit-border-radius:2px;
	height:40px;
	margin:0 4px 4px 0;
	display:block;
}
#point-list .point-item-wrap .point-item .point-info {
	color: black;
	text-align:center
}

#point-list .point-item-wrap .point-item .point-title {
	margin-top: 5px;
	margin-bottom:30px ;
    text-align: center;
    position: relative;
	color:black;
	
}

#module-list{
	width:100%
}
#module-list .module-item-wrap{
	margin-top: 1.5rem;
	width:50%;
	float:left;
    border-bottom: 10px solid #eeeeee;
	position:relative
}
#module-list .module-item-wrap .module-item {
	border-radius:2px;
	-webkit-border-radius:2px;
	height:7rem;
	margin:0 4px 4px 0;
	display:block;
}
#module-list .module-item-wrap .module-item .module-info {
	font-size:20px;
	/*margin-left: 9rem;*/
	margin-right: 5rem;
	margin-top: 16px;
	color: #dfdbd4
}

#module-list .module-item-wrap .module-item  {
	font-size:16px;
	margin-top: 10px;
	color: #3b3937
}

.module-title{
	text-align: center;
	margin-top: 10px;
	margin-left:27%;
	padding-top:3%;
	color: #3b3937	
}

#module-list .module-item-wrap .module-item  {
	margin-top:10px;
	display:block;
	width:100%;
	height:5rem;
	background-position:50% 0;
	background-size:42px;
	background-repeat:no-repeat
}
.module-logo{
	margin-top:-5px;
	display:block;
	height:3.2rem;
	background-position:25% 0;
	background-size:2.8rem;
	background-repeat:no-repeat
}
.menu-person-link {
	display: block;
	background: url("../images/person/icon_arrow.png") no-repeat;
	background-size: 7px 14px;
	background-position: right center;
	padding-right: 15px;
}

.menu-person-link-white {
	display: block;
	background: url("../images/person/icon_person_arrow.png") no-repeat;
	background-size: 7px 14px;
    height: 5rem; 
    margin-right: 10px;
    background-position: right 36px;
}